@model IEnumerable<Quan_ly_sinh_vien_5_tot.Models.SinhVien>

<div id="searchresult">
    <label>Kết quả tìm kiếm: <span>@Model.ToArray().Length</span></label>
    <table class="table">
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVienId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinhVienId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop.MaLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MSSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.SinhVienId }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.SinhVienId })
                </td>
            </tr>
        }

    </table>
</div>