@model Quan_ly_sinh_vien_5_tot.Models.SinhVien

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sinh Viên</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SinhVienId)

        <div class="form-group">
            @Html.LabelFor(model => model.Lop.LoaiLop, "Loại Lớp", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Lop.LoaiLop">
                    <option value="Đại Học" selected="selected">Đại Học</option>
                    <option value="Cao Đẳng">Cao Đẳng</option>
                    <option value="Cao Đẳng Thực Hành">Cao Đẳng Thực Hành</option>
                </select>
                @Html.ValidationMessageFor(m => m.Lop.LoaiLop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lop.MaLop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Lop.MaLop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lop.MaLop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MSSV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MSSV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ho, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ho)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ten, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgaySinh)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
